.login{
    float: left;
    margin: auto;
    display: flex;
    width: 40%;
    height: 98%;
    padding-left: 8%;
}

.content{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.image{
    margin: auto;
    display: flex;
    width: 45%;
    height: 98%;
}

#logo{ width: 70%; }

#art{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#id, #welcome{
    font-size: 1vw;
}

#id{
    color: #8692A6;
}

.champs{
    display: flex;
    margin-top: 10%;
    width: 70%;
}

.textinput {
    position: relative;
    width: 260px;
    display: block;
}
  
.input {
    padding-top: 10%;
    border: none;
    margin: 0;
    padding: 10px 0;
    outline: none;
    border-bottom: solid 1px #8692A6;
    font-size: 15px;
    margin-top: 12px;
    width: 100%;
    color: #8692A6;
    background-color: #ffffff00;
    -webkit-tap-highlight-color: transparent;
}
  
.label {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 22px;
    transition: 0.2s cubic-bezier(0, 0, 0.3, 1);
    pointer-events: none;
    color: #8692A6;
    user-select: none;
}
  
.line {
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    width: 0;
    transition: 0.2s cubic-bezier(0, 0, 0.3, 1);
}
  
.input:focus ~ .line, .input:valid ~ .line {
    width: 100%;
}
  
.input:focus ~ .label, .input:valid ~ .label {
    font-size: 11px;
    color: #ffffff;
    top: 0;
}