<div class="login">
    <div class="content">
        <img src="assets/images/logoiut.png" alt="logo iut" id="logo">
        <p id="welcome">Bienvenue sur l’ENT 👋</p>
        <p id="id">identifiez vous ! </p>
        <form action="" method="get">
            <div class='textinput'>
                <input type='text' class='input' required>
                <label class='label'>Entrez votre identifiant</label>
                <span class='line'></span>
            </div>
            <div class='textinput'>
                <input type='text' class='input' required>
                <label class='label'>Entrez votre mot de passe</label>
                <span class='line'></span>
            </div>
        </form>
    </div>
</div>

<div class="image">
    <img [src]="imageName" alt="figure 3d abstraite" id="art">
</div>