<app-sidebar></app-sidebar>
<div id="calendar-container">
    <div id="cal-buttons">
        <div id="cal-date-nav-buttons">
            <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view" [excludeDays]="[0, 6]"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l ml-10 mt-10 mb-10">Précédent</button>

            <button id="today" mwlCalendarToday [(viewDate)]="viewDate"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 mt-10 mb-10">Aujourd'hui</button>
            <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view" [excludeDays]="[0, 6]"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r mr-10 mt-10 mb-10">Prochain</button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                (click)="openModalAdd()">Ajouter</button>
        </div>
    </div>
    <mwl-calendar-week-view [viewDate]="viewDate" class="week-view" [events]="events" [excludeDays]="[0, 6]" locale="fr"
        [dayStartHour]="8" [dayEndHour]="18" (eventClicked)="eventClicked($event)"
        (eventTimesChanged)="eventTimesChanged($event)" [refresh]="refresh"></mwl-calendar-week-view>
</div>
<div id="modify-event-modal" tabindex="-1" aria-hidden="true"
    class="modal fixed top-0 left-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center bg-gray-900 bg-opacity-50"
    [ngClass]="{'hidden': !showModalMod, 'block': showModalMod}">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" (click)="closeModalMod()"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="modify-event-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Fermer le modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Modifier le cours</h3>
                <form class="space-y-6" (ngSubmit)="onSubmitMod()" *ngIf="eventSelectionne">
                    <div>
                        <label for="cours" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom du
                            cours</label>
                        <input type="text" [(ngModel)]="eventSelectionne.event.title" name="cours" id="cours" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div>
                        <label for="salle"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salle</label>
                        <input type="text" [(ngModel)]="eventSelectionne.event.salle" name="salle" id="salle" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div>
                        <label for="professeur"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Professeur</label>
                        <input type="text" [(ngModel)]="eventSelectionne.event.professeur" name="professeur"
                            id="professeur" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div>
                        <label for="debut" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Commence
                            à</label>
                        <input type="datetime-local" [(ngModel)]="eventSelectionne.event.start"
                            (ngModelChange)="startTimeChanged(eventSelectionne, $event)" name="debut" id="debut"
                            required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div>
                        <label for="fin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fini
                            à</label>
                        <input type="datetime-local" [(ngModel)]="eventSelectionne.event.end"
                            (ngModelChange)="endTimeChanged(eventSelectionne, $event)" name="fin" id="fin" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmer</button>
                    <button type="button" (click)="supprimerCours(eventSelectionne)"
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="add-event-modal" tabindex="-1" aria-hidden="true"
    class="modal fixed top-0 left-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center bg-gray-900 bg-opacity-50"
    [ngClass]="{'hidden': !showModalAdd, 'block': showModalAdd}">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" (click)="closeModalAdd()"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="add-event-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Fermer le modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Ajouter un cours</h3>
                <form class="space-y-6" [formGroup]="formAddEvent" (ngSubmit)="onSubmitAdd() ">
                    <div>
                        <label for="cours"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ressource</label>
                        <select name="cours" formControlName="cours"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option *ngFor="let cours of ressources" [value]="cours">{{ cours.nom }}</option>
                        </select>
                        <!-- <input type="text" name="cours" id="cours" formControlName="cours" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" > -->
                    </div>
                    <div>
                        <label for="salle"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salle</label>
                        <select name="salle" formControlName="salle"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option *ngFor="let salle of salles" [value]="salle">{{ salle.nom }}</option>
                        </select>
                        <!-- <input type="text" name="salle" id="salle" formControlName="salle" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" > -->
                    </div>
                    <div>
                        <label for="professeur"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Professeur</label>
                        <select name="professeur" formControlName="professeur"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option *ngFor="let professeur of profs[0]" [value]="professeur">{{ professeur.nom }}
                            </option>
                        </select>
                        <!-- <input type="text" name="professeur" id="professeur" formControlName="professeur" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" > -->
                    </div>
                    <div>
                        <label for="debut" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Commence
                            à</label>
                        <input type="datetime-local" name="debut" id="debut" formControlName="debut" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div>
                        <label for="fin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fini
                            à</label>
                        <input type="datetime-local" name="fin" id="fin" formControlName="fin" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>