<div id="calendar-container">
    <div id="cal-buttons">
        <div id="cal-date-nav-buttons" class="flex justify-between">
            <div>
                <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view" [excludeDays]="[0, 6]" (click)="loadEvents()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l ml-10 mt-10 mb-10"
                >Précédent</button>
                    
                <button id="today" mwlCalendarToday [(viewDate)]="viewDate" (click)="loadEvents()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 mt-10 mb-10"
                >Aujourd'hui</button>
                <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view" [excludeDays]="[0, 6]" (click)="loadEvents()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r mr-10 mt-10 mb-10"
                >Prochain</button>
                <button 
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                (click)="openModalAdd()"
                >Ajouter</button>
            </div>

            <div>
                <button (click)="cancelCourse()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r mr-10 mt-10 mb-10"
                >Annuler</button>
                <button (click)="publishCourse()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r mr-10 mt-10 mb-10"
                >Publier</button>
            </div>
            
        </div>
        
    </div>
    <mwl-calendar-week-view *ngIf="isWeekCalendar"
        [viewDate]="viewDate"
        class="week-view" 
        [events]="events"
        [excludeDays]="[0, 6]"
        locale="fr"
        [dayStartHour]="8"
        [dayEndHour]="18"
        (eventClicked)="eventClicked($event)"
        (dayHeaderClicked)="changeViewDay($event)">
        (eventTimesChanged)="eventTimesChanged($event)"
        [refresh] = "refresh"
        [eventTitleTemplate]="customeWeekViewTemplate"> 
        
    ></mwl-calendar-week-view>


    <div *ngIf="!isWeekCalendar"  class="w-full text-center bg-white p-1 text-black hover:bg-gray-200 ps-[70 px]" (click)="toggleWeekCalendar()">
        <h2 class="font-bold">{{ viewDate | date:'EEEE' | lowercase }}</h2>
        <h2 class="text-gray-500">{{ viewDate | date:'d MMM' | lowercase }}</h2>
    </div>
    <mwl-calendar-day-view *ngIf="!isWeekCalendar"
    [viewDate]="viewDate"
    

    class="week-view" 
    [events]="events"
    locale="fr"
    [dayStartHour]="8"
    [dayEndHour]="18"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [refresh] = "refresh"


    [eventTitleTemplate]="customeWeekViewTemplate"> 
    
</mwl-calendar-day-view>

    <!-- [eventTitleTemplate]="customEWeekViewTemplate">     -->

    <ng-template #customeWeekViewTemplate let-event="event">
        <div class="titre h-full flex flex-col justify-between relative">
          <div class="item-center text-center">
            <!-- Votre contenu principal ici -->
            <div class="flex flex-row">
                <div class="flex-1 text-start">{{getCourseByEventId(event.id)!.name_salle}}</div>
                <div class="flex-1 text-center">
                {{ getRessourcesByInitial(getCourseByEventId(event.id)!.initial_ressource) }}
                </div>
                <div class="flex-1 text-end">{{ getInitialTeacher(event.id) }}</div>
            </div>
          </div>
          
          <!-- Footer dans la ng-template -->
          <div class="flex flex-row items-center justify-center">
            <img src="assets/images/clock.png" alt="Logo" class="w-[18px]" >
            <h2>{{ getTimeString(getCourseByEventId(event.id)!.start_time) }} - {{ getTimeString(getCourseByEventId(event.id)!.end_time) }} </h2>
          </div>
          
        </div>

      </ng-template>
</div>
 <ng-container *ngIf="showModalAdd">
    <course-add [teachers]="teachers" [resources]="ressources" [salles]="salles" [groupes]="groupes" (courseEvent)="addCourse($event)" (closeModal)="closeModalAdd()"></course-add>
</ng-container> 

<ng-container *ngIf="showModalMod" >
    <course-edit [course]="courseForEdit" [teachers]="teachers" [resources]="ressources" [salles]="salles" [groupes]="groupes" (courseEvent)="addCourse($event)" (closeModal)="closeModalMod()" (removeEvent)="removeCourse($event)"></course-edit>
</ng-container> 