
.week-view{
    color: black;
}

#contenu-table{
    color: black;
}
// .test{
//     width: 50% !important;
//     position: absolute;
//     left: 0% !important;
//     // translate: 100% !important;
//     background-color: black;
// }

// ::ng-deep .cal-drag-active {
//     right: 0 !important;
// }


@for $i from 0 through 100 {
    .calendar-width-#{$i} {
        width: percentage($i/100) !important;
    }
  }


@for $j from 0 through 100 {
    .calendar-position-#{$j} {
        position: absolute !important;
        left: percentage($j/100) !important;
    }
}

.test {
    left : 0% !important;
}
