/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #282A2F;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

html, body {
    height: 100%;
    margin: 0;
}