<div class="modal relatives w-full max-w-md max-h-full z-51" *ngIf="showModalDuplicate">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        
    </div>
</div>
<div id="add-event-modal" tabindex="-1" aria-hidden="true"
    class="modal fixed top-0 left-0 z-50  w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center bg-gray-900 bg-opacity-50"
    >
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" (click)="closeModalEdit()"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" 
                data-modal-hide="add-event-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Fermer le modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Modifier un cours</h3>
                <form class="space-y-6" [formGroup]="courseForm" (ngSubmit)="onSubmit() ">
                    <div>
                        <label for="initial_ressource" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ressource</label>
                        <select name="initial_ressource" formControlName="initial_ressource" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="" disabled="" value="">Choisir...</option>
                            <option *ngFor="let cours of resources" [value]="cours.initial">{{ cours.name }}</option>
                        </select>
                    </div>
                    <!-- <div *ngIf="articleForm.get('initial_resource')!.hasError('required') && articleForm.get('initial_resource')!.touched" class="text-danger block ms-1">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        Sélectionnez une ressource.
                    </div>    -->


                    <div>
                        <label for="name_salle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salle</label>
                        <select name="name_salle" formControlName="name_salle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="" value="">Aucune</option>
                            <option *ngFor="let salle of salles" [value]="salle.nom" >{{ salle.nom }}</option>
                        </select>
                        <!-- <input type="text" name="salle" id="salle" formControlName="salle" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" > -->
                    </div>
                    <div>
                        <label for="id_enseignant" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Professeur</label>
                        <select name="id_enseignant" formControlName="id_enseignant" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="" value="">Aucun(e)</option>
                            <option *ngFor="let professeur of teachers" [value]="professeur.id" >{{ professeur.staff.user.username }}</option>
                        </select>
                        <!-- <input type="text" name="professeur" id="professeur" formControlName="professeur" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" > -->
                    </div>
                    <div>
                        <label for="id_group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Groupe</label>
                        <select name="id_group" formControlName="id_group" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="" disabled="" value="">Choisir...</option>
                            <option *ngFor="let groupe of groupes" [value]="groupe.id" >{{ groupe.name }}</option>
                        </select>
                    </div>
                    <!-- <div>
                        <label for="debut" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Commence à</label>
                        <input type="datetime-local"name="debut" id="debut" formControlName="debut" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" >
                    </div>
                    <div>
                        <label for="fin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fini à</label>
                        <input type="datetime-local" name="fin" id="fin" formControlName="fin" required  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" >
                    </div> -->

                    <div>
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sélectionner une date</label>
                        <input type="date" name="date" id="date" formControlName="date" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    
                    <div>
                        <label for="start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Commence à</label>
                        <input type="time" name="start" id="start" formControlName="start" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    
                    <div>
                        <label for="end" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fini à</label>
                        <input type="time" name="end" id="end" formControlName="end" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>


                    <button [disabled]="courseForm.invalid" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmer</button>
                    <button type="button" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" (click)="deleteCourse()">Supprimer</button>
                    <button *ngIf="groupe_available.length != 0" type="button" (click)="openModalDuplicate()" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Dupliquer</button>

                </form>
            </div>
            <div *ngIf="showModalDuplicate">
                <div class="px-6 py-6 lg:px-8">

                    <button type="button" (click)="closeModalDuplicate()"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" 
                    data-modal-hide="duplicate-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Fermer le modal</span>
                    </button>

                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Choisir des groupes sur lesquels dupliquer</h3>
                    <form class="space-y-6" (ngSubmit)="onSubmitDuplicate() ">
                        <div *ngFor="let group of groupe_available">
                            <label>
                            <input type="checkbox" [value]="group.id" (change)="groupsToDuplicateCourse(group.id)"  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"> {{ group.name }}
                            </label>
                        </div>
                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmer</button>
                        <button type="button" (click)="closeModalDuplicate()" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Annuler</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


